.main-block {
  background-image: url(http://tutorial.promo.net.ua/images/js/setka3.png);
  background-position: top left;
  width: 400px;
  height: 400px;
  border: 1px solid black;
  position: relative;
}
.blue, .red, .yellow {
  width: 100px;
  height: 100px;
  position: relative;
}
.red {
  background: red;
  left: 110px;
  top: 120px;
}
.blue {
  background: blue;
  top: 60px;
  left: 160px;
}
.yellow {
  background:yellow;
  top: 10px;
  left: 210px;
}