@font-face{
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");	
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Roboto-Regular;
	font-size: 32px;
}
.fullwrap{
	width: 600px;
	height: 450px;
	margin: 0 auto;
	border: 4px solid #3366ff;
}
.wrap{
	float: left;		
	border-right: 1px solid #3366ff;
	margin-top: 20px;
	margin-bottom: 20px;
	width: 199px;
	height: 410px;
}
.w-end{
	border: none;
}
.square{
	width: 32px;
	height: 32px;
	background: #3366ff;
}
p{
	font-weight: bold;
}

.s1, .s2, .s4, .s3, .s5{
	display: inline-block;	
}

.s1{
	margin-left: 9px;
	margin-top: 33px;
}
.s2{
	margin-left: 43px;
}

.s3{
	margin-left: 149px;
	margin-top: 60px;
}
.s4{
	margin-top: 55px;
	margin-left: 111px;
}
.s5{
	margin-top: 163px;
	margin-left: 86px;
}
.s1 p, .s2 p{
	margin-left: 35px;
}
.s3 p{
	margin-left: -75px;
	margin-top: -2px;
}
.s4 p{
	margin-left: -50px;
	margin-top: 10px;
}
.s5 p{
	margin-left: -20px;
	margin-top: -5px;
}