*{
	margin: 0;
	padding: 0;
}

body{
	background: #d1d1d1;
	font-size: 20px;
}

main{
	padding: 55px 65px 30px 50px;
	background: #fff;
}

button{
	background: #cf5b4e;
	border: none;
	width: 100%;
	padding: 10px 0;
	color: #fff;
	font-size: 18px;
	border-radius: 6px;
}

.header{
	margin-bottom: -5px;
}

.follwrap{
	max-width: 800px;
	margin: 0 auto;
}

.mainimg{
	max-width: 100%;
	height: auto;
}
.centered{
	text-align: center;
}

.content{
	margin-top: 5px;
	margin-bottom: 20px;
}

.no-centered{
	text-align: left;
}

.imgBig1{
	padding: 15px 50px 25px 0;
	float: left;
}

.imgBig2{
	padding: 15px 0 25px 0px;
	float: left;
}

.imgBig1 img, .imgBig2 img{
	max-width: 316px;
	max-height: 266px;
}

.imgBig1 p, .imgBig2 p{
	max-width: 316px;
}

.imgSmall1{
	padding: 0 20px 25px 0;
	float: left;
}

.imgSmall2{
	padding: 0 20px 25px 7px;
	float: left;
}

.imgSmall3{
	padding: 0 0px 25px 7px;
	float: left;
}

.imgSmall1 img, .imgSmall2 img, .imgSmall3 img{
	max-width: 210px;
	max-height: 270px;
}

.imgSmall1 p, .imgSmall2 p, .imgSmall3 p{
	max-width: 210px;
}


.clear{
	clear: both;
}

.footer{
	padding-top: 30px;
	padding-bottom: 25px;
	color: #fff;
	font-size: 16px;
}
.footer a{
	color: #fff;
}