@font-face{
	font-family: Roboto-Regular;
	src: url("../fonts/Roboto-Regular.ttf");	
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: Roboto-Regular;
	font-size: 32px;
}
.fullwrap{
	width: 600px;
	height: 450px;
	margin: 0 auto;
	border: 4px solid #3366ff;
}
.wrap{	
	border-right: 1px solid #3366ff;
	margin-top: 20px;
	width: 190px;
	height: 410px;
}
.w-end{
	border: none;
}
.square{
	width: 32px;
	height: 32px;
	background: #3366ff;
}
p{
	font-weight: bold;
}
.s1{
	margin-left: 9px;
	margin-top: 53px;
}
.s2{
	margin-left: 43px;
	margin-top: 5px;
}
.s3{
	margin-left: 149px;
	margin-top: 64px;
}
.s4{
	margin-left: 111px;
	margin-top: 75px;
}
.s5{
	margin-left: 86px;
	margin-top: 183px;
}
.s1 p, .s2 p{
	margin-left: 35px;
}
.s3 p{
	margin-left: -75px;
}
.s4 p{
	margin-left: -50px;
	margin-top: 10px;
}
.s5 p{
	margin-left: -20px;
	margin-top: -5px;
}